.App { 
	display: flex;
	flex-direction: column;
}

.menu {
	flex:1;
}

.the-chat {
	flex: 2;
}

.Chat {
	width: 100vw;
	height: 100vh;
	background: white;
}

.Chat p {
	color: black;
	align-self: center;
}