.App { 
	display: flex;
	overflow: hidden;
	flex-direction: column;
}

.menu {
	position: absolute;
	flex:1;
}

.the-chat {
	flex: 2;
}

.Chat {
	position: absolute;
	left: 275px;
	width: 80vw;
	overflow-X: hidden;
	height: 100vh;
	background: white;
}

.Chat p {
	color: black;
	align-self: center;
}